<h2>Edit <%= resource_name.to_s.humanize %></h2>

<%= form_for(resource, :as => resource_name, :url => registration_path(resource_name), :html => { :method => :put }) do |f| %>
  <%= devise_error_messages! %>

  <p><%= f.label :email %><i><%= t(:effect_gravatar) %></i><br />
  <%= f.email_field :email %></p>

  <p><%= f.label :nick %> <br />
  <%= f.text_field :nick %></p>


  <p><%= f.label :password %> <i><%= t(:leave_blank) %></i><br />
  <%= f.password_field :password %></p>

  <p><%= f.label :password_confirmation %><br />
  <%= f.password_field :password_confirmation %></p>

  <p><%= f.label :current_password %> <%= t(:confirmpw) %><br />
  <%= f.password_field :current_password %></p>

  <p><%= f.submit "Update" %></p>
<% end %>

<h3><%= t(:cancel_account) %></h3>

<%= link_to t(:cancel_account), registration_path(resource_name), :confirm => t(:sure), :method => :delete %>

<%= link_to t(:back), :back %>
