<h1> <%= @headline %> </h1>
<table id="users" >
    <thead>
        <tr>
          <th><%= t(:nick) %></th>
          <th><%= t(:email) %></th>
          <th><%= t(:role) %></th>
        </tr>
    </thead>
    <tbody>
        <% @users.each do |user|%>
        <tr>
            <td><%=user.nick%></td>
            <td><%=user.email%></td>
            <td><%=user.roles[0]%></td>
            <td><%= link_to t(:showuser), show_user_path(user)%></td>
        </tr>
        <%end %>
    </tbody>

</table>

<%= link_to t(:back), root_path %>