<div id ="gravatar">
  <%=  gravatar_for @user %>
</div>

<table id="user" >
    <tbody>
        <tr>
            <td>Nick: </td>
            <td><%=@user.nick%></td>
        </tr>
        <tr>
            <td>Email: </td>
            <td><%=@user.email%></td>
        </tr>
        <tr>
            <td>Role: </td>
            <td><%=@user.roles[0]%></td>
        </tr>
        <tr>
            <td>Sign up: </td>
            <td><%=@user.created_at.strftime("%B %d, %Y")%></td>
        </tr>
        <tr>
            <td>Last Sign in: </td>
            <td><%=@user.last_sign_in_at.strftime("%B %d, %Y")%></td>
        </tr>
        <tr>
            <td>Sign ups: </td>
            <td><%=@user.sign_in_count%></td>
        </tr>
        <tr>
            <td>Posts: </td>
            <td><%=Post.find_all_by_user_id(@user).count%></td>
        </tr>
        <tr>
            <td>Threads: </td>
            <td><%=Fred.find_all_by_user_id(@user).count%></td>
        </tr>

    </tbody>

</table>


<div id ="can">
  <%= link_to t(:back), show_users_path %>
  <% if can? :manage, @users %>
    <% #mein Vorschlag für destroy %>
    <%= link_to t(:destroy), destroy_user_path(@user), :method => :delete %>
    <%= link_to t(:edit), edit_user_path(@user) %>
<% end %>
</div>


<div id = "posts">
  <table>
  <tr>
    <th><%= t(:content) %></th>
    <th><%= t(:thread) %></th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

  <% if params[:flag]=="yousuck" %>

    <% result = Post.limit(1).order("created_at DESC").find_all_by_user_id(@user.id) %>
  <% else %>
    <% result = Post.order("created_at DESC").find_all_by_user_id(@user.id) %>
  <% end %>

  <% result.each do |post| %>
  <tr>

    <td><%= post.content %></td>
    <% fred_post = Fred.find post.fred_id %>
    <td><%= fred_post.headline %></td>

    <td><%= link_to t(:showuser), fred_path(post.fred_id) %></td>
  </tr>
<% end %>
</table>
  <% if params[:flag] == "yousuck" %>
    <%= link_to t(:moar), show_user_path("yousuckhard",@user) %>
  <% else %>
    <%= link_to t(:less), show_user_path("yousuck",@user) %>
  <% end %>
</div>





<%= link_to t(:back), show_users_path %>

