<div id ="gravatar">
  <%=  gravatar_for @user %>
</div>

<table id="user" >
    <tbody>
        <tr>
            <td><%= t(:nick) %>: </td>
            <td><%=@user.nick%></td>
        </tr>
        <tr>
            <td><%= t(:email) %>: </td>
            <td><%=@user.email%></td>
        </tr>
        <tr>
            <td><%= t(:role) %>: </td>
            <td><%=@user.roles[0]%></td>
        </tr>
        <tr>
            <td><%= t(:signupdate) %>: </td>
            <td><%=@user.created_at.strftime("%e/%m/%Y")%></td>
        </tr>
        <tr>
            <td><%= t(:signindate) %>: </td>
            <% if @user.last_sign_in_at != nil%>
            <td><%=@user.last_sign_in_at.strftime("%e/%m/%Y @ %H:%M")%></td>
            <% else %>
            <% @user.last_sign_in_at= Time.utc(1492,8,3,20,15,10) %>
            <td><%=@user.last_sign_in_at.strftime("%H:%M @ %e/%m/%Y")%></td>
            <% end%>
        </tr>
        <tr>
            <td><%= t(:signups) %>: </td>
            <td><%=@user.sign_in_count%></td>
        </tr>
        <tr>
            <td><%= t(:posts) %>: </td>
            <td><%=Post.find_all_by_user_id(@user).count%></td>
        </tr>
        <tr>
            <td><%= t(:threads) %>: </td>
            <td><%=Fred.find_all_by_user_id(@user).count%></td>
        </tr>

    </tbody>

</table>


<div id ="can">
  <%= link_to t(:back), show_users_path %>
  <% if can? :manage, @users %>
    <% #mein Vorschlag für destroy %>
    <%= link_to t(:destroy), destroy_user_path(@user), :method => :delete %>
    <%= link_to t(:edit), edit_user_path(@user) %>
<% end %>
</div>


<div id = "posts">
  <table>
  <tr>
    <th><%= t(:content) %></th>
    <th><%= t(:thread) %></th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

  <% if params[:flag]!="unlimited" %>
    <% result = Post.limit(1).order("created_at DESC").find_all_by_user_id(@user.id) %>
  <% else %>
    <% result = Post.order("created_at DESC").find_all_by_user_id(@user.id) %>
  <% end %>
  <% result.each do |post| %>
  <tr>
    <td><%= post.content %></td>
    <% fred_post = Fred.find post.fred_id %>
    <td><%= fred_post.headline %></td>

    <td><%= link_to t(:showuser), fred_path(post.fred_id) %></td>
  </tr>
<% end %>
</table>
  <% if params[:flag] == "unlimited" %>
    <%= link_to t(:less), show_user_path(@user) %>
  <% else %>
    <%= link_to t(:moar), show_user_bla_path("unlimited",@user) %>
  <% end %>
</div>

<%= link_to t(:back), show_users_path %>

