<p><%= gravatar_for @user %></p>

<p><%= @user.email %></p>
<p><%= @user.nick %></p>
<p><%= @user.created_at %></p>
<p><%= @user.roles_mask %></p>

<% if can? :manage, @users %>
    <% #mein Vorschlag für destroy %>
    <%= link_to t(:destroy), destroy_user_path(@user), :method => :delete %>
    <%= link_to t(:edit), edit_user_path(@user) %>
<% end %>

<%= link_to t(:back), show_users_path %>

