<h2><%= t(:login) %></h2>

<%= form_for(resource, :as => resource_name, :url => session_path(resource_name)) do |f| %>
  <p><%= f.label :login %><br />
  <%= f.text_field :login %></p>

  <p><%= f.label t(:password) %><br />
  <%= f.password_field :password %></p>


  <p><%= f.submit t(:login) %></p>
<% end %>

<%= render :partial => "devise/shared/links" %>