<%= form_for(@post) do |f| %>
<%= f.hidden_field :fred_id %>
<%= f.hidden_field :post_id %>
  <% if @post.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@post.errors.count, "error") %> prohibited this post from being saved:</h2>

      <ul>
      <% @post.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>




  <div class="field">
    <%= f.label :content %><br />
    <% if params[:reply_or_quote] == "quote"  %>
      <%= raw(f.text_area :content, :value =>  "bq. " + get_quote ) %>
    <% else  %>
      <%= f.text_area :content %>
    <% end  %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
