<h1>Listing posts</h1>

<table>
  <tr>
    <th>User</th>
    <th>Content</th>
    <th>Post</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @posts.each do |post| %>
  <tr>
    <td><%= post.user %></td>
    <td><%= post.content %></td>
    <td><%= post.post %></td>
    <td><%= link_to 'Show', post %></td>
    <td><%= link_to 'Edit', edit_post_path(post) %></td>
    <td><%= link_to 'Destroy', post, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Post', new_post_path(0) %>
