<p id="notice"><%= notice %></p>


<p>
  <b>Content:</b>
  <%= @post.content %>
</p>

<p>
  <b>Post:</b>
  <%= @post.post %>
</p>



<%= link_to 'Reply to this Motherfucker', new_post_path(@post) %>

<%= link_to 'Edit', edit_post_path(@post) %> |
<%= link_to 'Back', fred_path %>
