<div class = "formular">

<%= form_for(@category) do |f| %>
    <%= f.hidden_field :category_id %>
  <% if @category.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@category.errors.count, "error") +  t(:category_error_msg)  %></h2>

      <ul>
      <% @category.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %>
    <%= f.text_field :name, :placeholder => "Name" %>
  </div>


  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
</div>
