<div class="new_buttons">
  <% if can? :manage, @categories %>
    <%=  link_to t(:new_category), new_category_path(0), :class => 'btn' %>
  <% end %>
</div>

<% if @categories.empty? && @freds.empty?  %>
<% flash.now[:notice] = t(:nothing_to_see) %>
<% end %>

<% @categories.each do |category| %>
  <div class="category">
    <div class="name_category"><%= link_to category.name, category_path(category) %></div>
    <div class="count_kinds"><%= t(:contains) %>
         <%= pluralize(count_categories(category), "Category") + ", " %>
         <%= pluralize(count_threads(category), "Thread") %>
    </div>
    

    <% if can? :update, @categories %>
        <div class="edit_category"><%= link_to t(:edit), edit_category_path(category) %>
        </div>
    <% end %>
    <% if can? :destroy, @categories %>
        <div class = "destroy_category"><%= link_to t(:destroy), category, confirm: t(:sure), method: :delete %>
        </div>
    <% end %>
  </div>
<% end %>

<div class="latest_posts">
<%= render :partial => 'latest' %>  
</div>


<br />