<p id="notice"><%= notice %></p>

<%if category_is_nil?%>
    <%= link_to 'New Category', new_category_path (0) %>
<%else%>
    <%= link_to 'New Category', new_category_path (:id) %>
<%end%>

<% @categories.each do |category|  %>

<p>
  <%= link_to category.name, category_path(category) %>
</p>



<%= link_to 'Edit', edit_category_path(category) %> |


<% end  %>

<%= link_to 'Back', upper_category %>
