<p id="notice"><%= notice %></p>

<% @categories.each do |category|  %>

<p>
  <%= link_to category.name, category_path(category) %>
</p>



<%= link_to 'Edit', edit_category_path(category) %> |


<% end  %>

<% @freds.each do |fred|  %>

<p>
  <%= link_to fred.headline, fred_path(fred) %>
</p>

<% end %>

<%= link_to 'Back', upper_category %>
