<div class="new_buttons">

    <% if can? :create, Category %>
        <%= link_to t(:new_category), new_category_path(params[:id]), :class => 'btn' %>
    <% end%>
    <% if can? :create, Fred  %>
        <%= link_to t(:new_thread), new_fred_path(params[:id]), :class => 'btn' %>
    <% end %>

</div>


<% @freds.each do |fred|  %>

<div class="fred">
    <div class="name_fred"><%= link_to fred.headline, fred_path(fred) %></div>
    <div class="statistics_of_fred">
    <%= render :partial => 'statistics', :locals => {:fred => fred} %>
    </div>
</div>

<% end %>

<%= link_to t(:back), upper_category %>
