<div class="new_buttons">

    <% if can? :manage, Category %>
        <%= link_to t(:new_category), new_category_path(params[:id]), :class => 'btn' %>
        <%= link_to t(:new_thread), new_fred_path(params[:id]), :class => 'btn' %>
    <% end%>

</div>

<% if @categories.empty? && @freds.empty?  %>
<% flash.now[:notice] = t(:nothing_to_see) %>
<% end %>

<% @categories.each do |category|  %>


<div class="category">

    <div class="name_category"><%= link_to category.name, category_path(category) %></div>
    <div class="count_kinds"><%= t(:contains) %>
         <%= pluralize(count_categories(category), "Category") + ", " %>
         <%= pluralize(count_threads(category), "Thread") %>
    </div>
    <% if can? :manage, Category %>
        <div class="edit_category"><%= link_to t(:edit), edit_category_path(category) %></div>
        <div class = "destroy_category"><%= link_to t(:destroy), category, confirm: 'Are you sure?', method: :delete %></div>
    <% end%>
</div>

<% end  %>

<% @freds.each do |fred|  %>

<div class="fred">
    <div class="name_fred"><%= link_to fred.headline, fred_path(fred) %></div>
    <div class="statistics_of_fred">
    <%= render :partial => 'statistics', :locals => {:fred => fred} %>
    </div>
</div>

<% end %>

<%= link_to t(:back), upper_category %>
