<% if !Post.where(:post_id => node[:id]).empty? %>
<div class="reply_post">
<% end %>
<% node = Post.where(:post_id => node[:id]).order("created_at DESC")
    node.each do |reply|  %>
<div class="reply_post" id="<%= reply[:id] %>">
  <div class="author_info">
    <%= "Autor" %>
  </div>
  <div class="actual_post">
    <div class="posting_head">
      <%= "#{reply[:created_at].strftime("%H:%M %B %d  %Y")} (#{time_ago_in_words(reply[:created_at])}) " %>
      <%= link_to("@Autor", fred_path(reply[:fred_id])+ "#" + reply[:post_id].to_s) %>
    </div>
    <div class="post_body">
      <%= raw (red_cloth reply.content) %>
    </div>
    <div class="post_footer">
      <%= link_to t(:reply), new_post_path(reply.id, "post", "reply") %>
      <%= link_to t(:quote), new_post_path(reply.id, "post", "quote") %>
    </div>
  </div>
</div>
<%= render :partial => 'post', :locals => {:node => reply}  %>
<% end  %>
<% if !node.empty?  %>
</div>
<% end %>

