<div class="reply_post" id="<%= reply[:id] %>">
  <div class="author_info">
    <%= gravatar_for reply.user %>
    <%= link_to_user reply.user %>
  </div>
  <div class="actual_post">
    <div class="posting_head">
      <%= "#{reply[:created_at].strftime("%H:%M %B %d  %Y")} (#{time_ago_in_words(reply[:created_at])}) " %>
      <% if reply[:post_id].nil? %>
      <%= link_to("@" + reply.fred.user[:nick], fred_path(reply[:fred_id])+ "#top") %>
      <% else %>
      <%= link_to("@" + reply.fred.user[:nick], fred_path(reply[:fred_id])+ "#" + reply[:post_id].to_s) %>
      <% end %>
    </div>
    <div class="post_body">
      <%= raw (red_cloth reply.content) %>
    </div>
    <div class="post_footer">
      <% if can? :create, Post %>
      <%= link_to t(:reply), new_post_path(reply.id, "post", "reply") %>
      <%= link_to t(:quote), new_post_path(reply.id, "post", "quote") %>
      <%= show_edit reply %>
      <% end %>
      <% if can? :destroy, Post %>
        <%= link_to t(:destroy), post_path(reply.id), :method => :delete, :confirm => t(:sure)  %>
      <% end  %>
    </div>
  </div>
</div>