<h1>Listing freds</h1>

<table>
  <tr>
    <th>Headline</th>
    <th>Category</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @freds.each do |fred| %>
  <tr>
    <td><%= fred.headline %></td>
    <td><%= fred.category %></td>
    <td><%= link_to 'Show', fred %></td>
    <td><%= link_to 'Edit', edit_fred_path(fred) %></td>
    <td><%= link_to 'Destroy', fred, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Fred', new_fred_path(0) %>
