<p id="notice"><%= notice %></p>



<div class="post_headline">
  <%= @fred.headline %>
</div>

<p>
  <b>Category:</b>
  <%= @fred.category %>
</p>


<%= link_to 'Edit', edit_fred_path(@fred) %> |
<%= link_to 'Back', freds_path %>
