<p id="notice"><%= notice %></p>



<div class="post_headline">
  <%= @fred.headline %>
</div>

<p>
  <b>Content:</b>
  <%= @fred.content %>
</p>

<%= link_to 'Reply to Thread', new_post_path(@fred.id) %>

<%= link_to 'Edit', edit_fred_path(@fred) %> |
<%= link_to 'Back', freds_path %>
