<p id="notice"><%= notice %></p>



<div class="post_headline">
  <%= @fred.headline %>
</div>

<div class="initial_post">
  <div class="author_info">
    <%= "Autor" %>
  </div>
  <div class="actual_post">
    <div class="posting_head">
      <%=  "#{@fred[:created_at].strftime("%H:%M %B %d  %Y")} (#{time_ago_in_words(@fred[:created_at])} ago) @Autor" %>
    </div>
    <div class="post_body">
      <%= @fred.content %>
    </div>
    <div class="post_footer">
      <%= link_to "reply", new_post_path(@fred.id, "thread", "reply") %>
      <%= link_to "quote", new_post_path(@fred.id, "thread", "quote") %>
    </div>
  </div>
</div>

<% @fred.posts.each do |post|  %>
<div class="reply_post">
  <div class="author_info">
    <%= "Autor" %>
  </div>
  <div class="actual_post">
    <div class="posting_head">
      <%= "#{post[:created_at].strftime("%H:%M %B %d  %Y")} (#{time_ago_in_words(post[:created_at])} ago) @Autor" %>
    </div>
    <div class="post_body">
      <%= post.content %>
    </div>
    <div class="post_footer">
      <%= link_to "reply", new_post_path(post.id, "post", "reply") %>
      <%= link_to "quote", new_post_path(post.id, "post", "quote") %>
    </div>
  </div>
</div>

<% end  %>


<%= link_to 'Edit', edit_fred_path(@fred) %> |
<%= link_to 'Back', freds_path %>
