<p id="notice"><%= notice %></p>



<div class="post_headline"><h1>
  <%= @fred.headline %>
</h1></div>

<div class="initial_post" id="top">
  <div class="author_info">
    <%= gravatar_for @fred.user %>
    <%= link_to_user @fred.user %>
  </div>
  <div class="actual_post">
    <div class="posting_head">
      <%=  "#{@fred[:created_at].strftime("%H:%M %B %d  %Y")} (#{time_ago_in_words(@fred[:created_at])}) " %>
    </div>
    <div class="post_body">
      <%= @fred.content %>
    </div>
    <div class="post_footer">
      <% if can? :create, Post %>
        <%= link_to t(:reply), new_post_path(@fred.id, "thread", "reply") %>
        <%= link_to t(:quote), new_post_path(@fred.id, "thread", "quote") %>
      <%end%>
      <% if can? :manage, Fred %>
        <%= show_edit @fred %>
      <%end%>
      <% if can? :destroy, Fred %>
        <%= link_to t(:destroy), fred_path(@fred.id), :method => :delete, :confirm => t(:sure_delete_thread)  %>
      <% end  %>
    </div>
  </div>
</div>

<%   directReplies = @fred.posts.where(:post_id => nil).order("created_at DESC")
     directReplies.each do |reply|  %>
<%= render :partial => 'posts', :locals => {:reply => reply} %>
<%= render :partial => 'post', :locals => {:node => reply}  %>

<% end  %>


<%= link_to t(:back), category_path(@fred.category_id)%>

