<!DOCTYPE html>
<html>
<head>
  <title>Forum</title>
  <%= stylesheet_link_tag    "application" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<div id="main">

  <div id ="Logon Frame">
    <% unless user_signed_in? %>
    Hello gayass you are not logged in !<%= link_to "Login", new_user_session_path %>
    <% else %>
    Welcome !  <%= link_to "Logout", destroy_user_session_path, :method => :delete%>
    <%end%>
  </div>

  <p class="notice"><%= notice %></p>
  <p class="alert"><%= alert %></p>


<%= yield %>

<div style="clear:both;"></div>
</div>
</body>
</html>
