<!DOCTYPE html>
<html>
<head>
  <title>Forum</title>
  <%= stylesheet_link_tag    "application" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
<div class="localisation">
  <%= link_to I18n.locale, url_for( :locale => local_button ), :class => "locale_link" %>
</div>
<div id="main">


  <div id ="Logon Frame">
    <% unless user_signed_in? %>
        <%= t(:hello) %>
        <%= link_to t(:login), new_user_session_path %>

    <% else %>
        <%= t(:hello1) %> <%= current_user.nick %>. <%= t(:notyou) %>
        <%= link_to t(:editprofile), edit_user_registration_path %>
        <%= link_to t(:logout), destroy_user_session_path, :method => :delete%>
        <%= link_to t(:showusers), show_users_path %>
    <%end%>
  </div>

  <p class="notice"><%= notice %></p>
  <p class="alert"><%= alert %></p>


<%= yield %>

<div style="clear:both;"></div>
</div>
</body>
</html>
