<!DOCTYPE html>
<html>
<head>
  <title>Forum</title>
  <%= stylesheet_link_tag    "application" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
<div class="localisation">
  <%= link_to local_button, url_for(params.merge(:locale=> local_button)), :class => "locale_link" %>
</div>
<div id="main">
  <div id ="Logon Frame">
    <% unless user_signed_in? %>
        <%= t(:hello) %>
        <%= link_to t(:login), new_user_session_path %>

    <% else %>
        <%= t(:hello1) %> <%= current_user.nick %>
        <%= link_to t(:editprofile), edit_user_registration_path %>
        <%= link_to t(:showusers), show_users_path %>
        <%= link_to t(:logout), destroy_user_session_path, :method => :delete%>
    <%end%>
  </div>
  
  <% flash.each do |key, value| %>
    <%= content_tag(:div, value, :class => "flash #{key}") %>
  <% end %>

<%= yield %>

<div style="clear:both;"></div>
</div>
<%= debug(params) if Rails.env.development? %>
</body>
</html>
